@charset "utf-8";

/* 共通 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 余白を含めたサイズ管理 */
    -webkit-tap-highlight-color: transparent;
}
html {
    font-size: 100%;
    width: 100%;
    scroll-behavior:auto;
}
body {
    background-color: #ffffff;
    font-family: 'Noto Serif JP','EB Garamond',serif;
    overflow-x: hidden; /* 横揺れ防止（スマフォではみ出しを防ぐ） */
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
  animation: fadeIn 1s ease;
  transition: opacity 1s ease;
}
body.fade-out {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom; /* 下の隙間を消す */
    border-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn:active {
    background-color: transparent; /* 背景を完全に透明に */
    opacity: 0.5;
}


/* index.html */
.top-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1f1f1;
}

.logo-img {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 1.2s ease-out .3s forwards;
  transition: .3s ease;
}

/* hover時 */
.logo-link:hover .logo-img {
  opacity: .7;
  transform: translateY(-2px) scale(1.03);
  filter: brightness(1.2);
}

/* ロゴ登場アニメ */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.logo-img {
    width: 95px;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    backface-visibility: hidden;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ham-MENU.html */
.ham-background {
    color: #ffffff;
    display: flex;
    flex-direction: column; /* 子要素を縦に並べる */
    height: 100dvh; /* バーの出入りに合わせて、リアルタイムで高さが変わる。 */
    background-color: #2b4a00;
    padding: 33px 28px; /* 全体の内側の余白を一括設定 */
}
.batsu_white {
    width: clamp(24px, 5vw, 40px);
    height: auto;
}
.ham-close_blog_column {
    width: clamp(24px, 4vw, 40px);
    height: auto;
    margin-left: 25px;
    padding-bottom: 50px;
    
}
.ham-menu {
    font-size: 24px;
    font-family: EB Garamond , serif;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 2.2;
    margin: 60px 0 0 0;
    padding-left: 20px;
}
.ham-menu ul li {
    list-style: none;
}
.ham-menu a {
    color: inherit; /* 親の白を引き継ぐ */
    text-decoration: none; /* 下線を消す */
}

.ham-credit {
    font-size: 10px;
    text-align: left;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-family: EB Garamond , serif;
    letter-spacing: 0.075em;
}


/* home.html */

/* home-header */
.home-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 88px;
    padding: 0 20px;
    font-size: 12px;
    font-family: "EB Garamond" , serif;
    font-weight: 500;
    background-color: #99aed3;
    transition: z-index 0s;
}

.home-header.is-scrolled {
    z-index: 250;
}

.ham-botann a {
    padding: 20px 6px;
}

.ham-botann img {
    width: clamp(28px, 5vw, 40px);
    height: auto;
}
.header-menu {
    flex: 1;
    margin: 0 clamp(10px, 3.5vw, 15px);
    max-width: 245px;
}
.header-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 4px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 0.125em;
}

/* pc表示 */
.pc-header-menu ul {
    display: flex;
    gap: 7px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pc-header-menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 4px;
    color: #f1f1f1;
    text-decoration: none;
    letter-spacing: 0.1em;
}
.pc-header-menu a:hover,.home-header-logo-house a:hover {
    opacity: 0.5;
}

.home-header-logo-house a {
    display: flex;
    padding: 20px 6px;
}
.home-header-logo-house img {
    width: clamp(44px, 6vw, 52px);
}


/* house-bg-title */
main {
    background-color: #f1f1f1;
}
.fv {
    margin-top: 0;
}
.fv-house-bg img {
    padding-top: 92px;
    position: relative;
    z-index: 101;
    pointer-events: none;
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: -32px;
    transform: translateY(-32px);
}

.blog-fv-house-bg-img {
    background-color: #fff;
}
.column-fv-house-bg-img {
    background-color: #fff;
}


/* home-image */
.home-image img {
    padding-top: 32px;
    width: 100vw;
    height : 208px;
    object-fit: cover;
    display: block;
}

/* home-ABOUT */

.ABOUT,.GALLERY,.SALON,.CONTACT,.BLOG,.COLUMN {
    margin: 88px 0;
    padding: 0 40px;
    color: #937218;
    font-family: "EB Garamond",serif;
 }

/* mobile用_クリック/タップ後のヘッダー位置 */
 #about,#gallery,#salon,#contact {
    scroll-margin-top: 150px;
 }

.heading-ABOUT-group,.heading-GALLERY-group,.heading-SALON-group,.heading-CONTACT-group,.heading-MENU-group,.heading-BLOG-group,.heading-COLUMN-group {
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: flex-start;
    position: relative;
    min-height: 32px;
    width: 100%;
}
.content-01-number,.content-02-number,.content-03-number,.content-04-number,.content-05-number,.content-06-number {
    position: absolute;
    left: -26px;
    writing-mode: vertical-rl;
    font-size: 9px;
    letter-spacing: .15em;
    line-height: 1;
    top: 2px;
    height: fit-content;
    white-space: nowrap;
    z-index: 10;
    font-family: "EB Garamond",serif;
}
.heading-ABOUT,.heading-GALLERY,.heading-SALON,.heading-CONTACT,.heading-MENU,.heading-BLOG,.heading-COLUMN {
    display: block;
    line-height: 1;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: .1em;
    padding-bottom:12px;
}
.sub-heading-ABOUT,.heading-stylist {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: .1em;
    padding-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    line-height: 1;
}
.sub-heading-ABOUT {
    width: 136px;
}
.sub-heading-ABOUT::after,.heading-stylist::after,.stylist-profile::after,.heading-GALLERY::after,.heading-SALON::after,.heading-CONTACT::after,.heading-MENU::after,.heading-BLOG::after,.heading-COLUMN::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.75px;
    background-color: #937218;
    margin: 24px auto 0;
}
.heading-stylist {
    padding-top: 48px;
    width: 56px;
}

/* 本文共通 */
.ABOUT-txt,.stylist-profile,.SALON-txt,.CONTACT-txt,.eral-box,.eral-txt,.damage-box,.blog-p-txt,.column-p-txt {
    font-family: "Noto Serif JP",serif;
    font-weight: 400;
    font-size: 13px;
    text-align: justify;
    margin: 0;
    line-height: 2.2;
    letter-spacing: 1.375px;
    color: #80796c;
}
.ABOUT-txt {
    color: #937218;
}
.stylist-profile {
    letter-spacing: 1.6px;
    padding-top: 24px;
}
.stylist-profile::after {
    background-color: #80796c;
}
.SALON-txt {
    letter-spacing: .45px;
    padding-bottom: 24px;
    color: #80796c;
}
.stylist-img {
    margin: auto;
    width: 232px;
    height: auto;
    display: block;
}
.stylist-name {
    padding-top: 12px;
    font-family: "Noto Serif JP",serif;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    letter-spacing: 2.375px;
}
.stylist-career {
    padding-top: 26px;
    font-size: 11px;
    letter-spacing: .1px;
    display: grid;
    grid-template-columns: 4em 1fr;
    line-height: 2;
    text-align: justify;
    font-family: "Noto Serif JP",serif;
    font-weight: 400;
    color: #80796c;
}
/* home-GALLERY */

/* ABOUT以外heading共通 */
.heading-GALLERY,.heading-SALON,.heading-CONTACT,.heading-MENU,.heading-BLOG {
    padding-bottom: 24px;
    line-height: 1;
}
.GALLERY .heading-GALLERY-group {
    max-width: calc(100vw - 80px); /* 画面幅から左右40pxずつ（計80px）引いたサイズ */
    margin: 0 auto 6px; 
}
.GALLERY {
    padding-left: 0;
    padding-right: 0;
    width: 100vw;
}
.GALLERY-img {
    width: 100vw;
    height: auto;
    display: block;
}
.GALLERY .slick-dots  {
    bottom: -48px;
}
.GALLERY .slick-dots li {
        width: 32px;
        height: 50px;
        margin: 0 4px;
}
.GALLERY .slick-dots li button {
    width: 100%;
    height: 50px;
    padding: 0;
}
.GALLERY .slick-dots li button::after {
    content: "";
    display: block;
    height: 1.5px;
    background-color: #dfd5ba;
}
.GALLERY .slick-dots li:hover button::after {
    background-color: #937218;
} 
.GALLERY .slick-dots li button::before {
    display: none;
}

/* home-SALON */
.SALON {
    margin-bottom: 0;
    margin-top: 120px;
}
.SALON-txt-address {
    text-align: left;
}
.SALON-txt-Annotation {
    display: block;
    font-size: 11px;
    line-height: 2;
    margin-top: 2px;
    margin-bottom: 3px;
    padding-left: 1em;
    text-indent: -1em;
    letter-spacing: -.5px;
}
.SALON-txt-parking {
    display: block;
    padding-left: 4em;
    text-indent: -4em;
    padding-top: 20px;
}
.SALON-map-link {
    pointer-events: auto;
    display: inline-block;
    padding: 20px 0;
    margin: -20px 0;
    font-weight: 600;
    color: #4c71b2;
}
.SALON-map-link:hover {
    opacity: 0.5;
    padding-bottom: .2px;
}
.SALON-exterior {
    width: 100%;
    padding-bottom: 80px;
}
/* CONTACT 共通-1*/
section.CONTACT {
    margin-top: 78px;
}
.CONTACT-txt {
    color: #80796c;
}

/* contact_モバイル_767px以下 */
.CONTACT-txt-1,.CONTACT-txt-2,.CONTACT-txt-3,.CONTACT-txt-4 {
    text-indent: -1em;
    text-align: justify;
    letter-spacing: .9px;
}
.CONTACT-txt-2,.CONTACT-txt-3 {
    padding-top: 28px;
}
.line-mail-icon-sidebyside {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.lineicon {
    width: 60px;
    height: 60px;
}
.mailicon {
    width: 54px;
    height: 60px;
}
.calendaricon {
    width: 54px;
    height: auto;
}
.lineicon-txt,.mailicon-txt,.calendaricon-txt {
    text-align: center;
    padding-top: 18px;
}
.linetxt,.mailtxt,.calendartxt {
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.05em;
    padding-top: 16px;
}

/* contact_タブレット-pc_768px以上 */
.CONTACT-txt-1-3-sidebyside,.CONTACT-txt-2-3-sidebyside {
    text-indent: -1em;
    text-align: justify;
    letter-spacing: .9px;
}
.CONTACT-txt-2-3-sidebyside br {
    display: none;
}
.line-mail-calendar-icon-3-sidebyside {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.lineicon-3-sidebyside {
    width: 60px;
    height: 60px;
}
.mailicon-3-sidebyside{
    width: 54px;
    height: 60px;
}
.calendaricon-3-sidebyside {
    width: 54px;
    height: 60px;
}
.calendartxt-br {
    font-size: 10px;
    line-height: 1.7;
    letter-spacing: 0.1em;
    padding-top: 16px;
}


/* CONTACT 共通-2 */
.facebook-insta-sidebyside {
    padding-top: 28px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
.facebookicon {
    width: 32px;
    height: auto;
}
.Instagramicon {
    width: 32px;
    height: auto;
}

/* footer_共通 */
.common-footer {
    padding-top: 42px;
    color: #937218;
}
/* footer_BLOGとCOLUMN */
.common-blog-column-footer {
    padding-top: 88px;
    color: #937218;
}
.credit_address {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 56px;
    padding-right: 30px;
    margin-top: -136px;
}
.icon_tothetop {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-left: 74px;
    margin-bottom: 30px;
}
.credit {
    font-size: 10px;
    writing-mode: vertical-rl;
    padding-left: 14px;
    font-family: EB Garamond,serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.footer-icon {
    width: 80px;
    height: auto;
}
.to_the_top {
    width: 36px;
    height: auto;
    margin-right: 40px;
}
.salon-address {
    font-size: 11px;
}

/* menu.html */

.MENU {
    padding: 0 40px;
    color: #937218;
    font-family: "EB Garamond",serif;
    padding-bottom: 80px;
}
.menu-annotation {
    font-size: 10px;
    font-family: "Noto Serif JP",serif;
    font-weight: 400;
    line-height: 2;
    letter-spacing: .5px;
    margin-bottom: 40px;
    color: #80796c;
}
.menu-body main section h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 16px;
    padding-left: 0.5rem;
    color: #937218;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
.menu-body main section ul li {
    font-size: 12px;
    font-family: "Noto Serif JP",serif;
    font-weight: 400;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.05rem;
    padding-bottom: 0.05rem;
    color: #80796c;
}
.menu-body main section ul li span {
    line-height: 2;
}
.menu-body li div {
    padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
.menu-body li p {
    line-height: 1.5;
}
.menu-body li small {
    font-size: 11px;
}
.menu-body main section ul li:nth-of-type(odd){
    background-color: #fff;
}
.menu-annotation-2 {
    font-size: 10px;
    color: #80796c;
    margin-top: 12px;
    padding-right: 0.5rem;
    line-height: 1.7;
    padding-left: 2em;
    text-indent: -1em;
}
.eral-box {
    border-color: #80796c;
    border-width: 1px;
    border-style: solid;
    padding: 18px;
    margin-bottom: 28px;
    margin-top: 20px;
    letter-spacing: .25px;
    color: #80796c;
}
.eral-box p span {
    color: #937218;
}
.eral-txt {
    margin-top: 20px;
    letter-spacing: .5px;
    color: #80796c;
}
.eral-box p span {
    font-weight: 600;
}
.eral-txt span {
    display: block;
    text-align: right;
}
.eral-txt a {
    color: #937218;
    font-weight: 600;
    padding: 20px 0;
}
.eral-txt a:hover {
    opacity: 0.5;
}
.damage-box {
    margin-top: 40px;
    padding: 25px;
    background-color: #fff;
    letter-spacing: -.05px;
    color: #80796c;
}
.damage-heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #937218;
    letter-spacing: .5px;
    line-height: 1.7;
}
.damage-box img {
    margin-top: 20px;
    width: auto;
}

/* blog.html */
.blog-header {
    background-color: #d3d0cc;
}
.BLOG {
    background-color: #d3d0cc;
    margin: 0 auto;
}
.heading-BLOG,.content-05-number {
    color: #000;
}
.heading-BLOG {
    color: #825b00;
    padding-bottom: 0;
}
.heading-BLOG::after {
    background-color: #825b00;
}
.blog-main {
    background-color: #d3d0cc;
    padding:0 40px 100px ;
}
.blog-p-date {
    font-size: 11px;
    font-family: "EB Garamond",serif;
    letter-spacing: 1px;
    text-align: right;
    padding-bottom: 28px;
    padding-top: 36px;
}

.blog-article h3,.blog-p-txt {
    color: #000;
}
.blog-article h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 24px;
    letter-spacing: .5px;
    line-height: 1.7;
}
.blog-p-txt {
    letter-spacing: 0.4px;
}
.blog-p-txt::after {
    content: "";
    display: block;
    width: 50%;
    height: 0.75px;
    background-color: #000;
    margin: 36px auto 0;
}
.blog_number-next {
    padding-top: 30px;
    text-align: right;
    font-family: "EB Garamond",serif;
    font-size: 11px;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}
.blog_number-next a {
    padding: 20px 5px;
}
.blog_number-next a span {
    padding: 20px 0px;
}
.blog_recent_entry {
    margin-top: 48px;
    padding: 30px 25px 20px;
    height: auto;
    background-color: #999489;
    color: #fff;
    letter-spacing: 2px;
}
.recent_entry-heading {
    font-size: 22px;
    font-family: "EB Garamond",serif;
    font-weight: 500;
    padding-bottom: 20px;
}
.recent_entry-article-title {
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    padding-left: 0;
    letter-spacing: .5px;
}
.recent_entry-article-title li {
    display: flex;
    align-items: center;
}
.recent_entry-article-title li a {
    display: block;
    padding: 7px 0;
    line-height: 1.7;
}
.recent_entry-article-title li a span {
    display: inline;
}

/* column.html */
.column-header {
    background-color: #e0e9f3;
}
.COLUMN {
    background-color: #e0e9f3;
    margin: 0 auto;
}
.heading-COLUMN,.content-06-number {
    color: #000;
}
.heading-COLUMN {
    color: #003491;
    padding-bottom: 0;
}
.heading-COLUMN::after {
    background-color: #003491;
}
.column-main {
    background-color: #e0e9f3;
    padding:0 40px 100px ;
}
.column-p-date {
    font-size: 11px;
    font-family: "EB Garamond",serif;
    letter-spacing: 1px;
    text-align: right;
    padding-bottom: 28px;
    padding-top: 36px;
}

.column-article h3,.column-p-txt {
    color: #000;
}
.column-article h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    letter-spacing: .5px;
    line-height: 1.7;
}
.column-p-txt {
    letter-spacing: 0.4px;
}
.before-column {
    font-weight: 600;
    color: #003491;
    display: block;
    text-align: right;
}
.before-column a {
    padding: 10px 0;
}
.column_archives {
    margin-top: 48px;
    height: auto;
    color: #003491;
    letter-spacing: 2px;
}
.archives-heading {
    font-size: 18px;
    font-family: "EB Garamond",serif;
    font-weight: 500;
    padding-bottom: 20px;
    padding-left: 8px;
}
.archives-article-title {
    list-style: none;
    font-size: 14px;
}
.archives-article-title li {
    margin-bottom: 0.8rem;
}
.archives-article-title li a {
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fff;
    padding: 4px 10px;
}
.archives-article-title time {
    align-self: flex-start;
    padding-top: 3px;
    font-size: 10px;
    letter-spacing: .75px;
    font-family: "EB Garamond",serif;
    font-weight: 200;
}
.archives-article-title p {
    letter-spacing: -.1px;
    line-height: 1.5;
    font-weight: 500;
}



@media (max-width: 767px) {
    /* 共通非表示 */

    /* header_mobile_tablet_共通 */
    .pc-header-menu {
        display: none;
    }
    /* contact_mobile_共通 */
    .three-sidebyside {
        display: none;
    }
    /* menu_トリートメント（シャンプー・ブロー別）／Eralヘッドキュア（ブロー別）_改行変更 */
    .menu-body .tablet-pc {
        display: none;
    }
    /* menu_heading+content-number_mobile */
    .content-04-number-pc,.damage-heading-pc {
        display: none;
    }
    /* blog_recent_entry_title_brを非表示 */
    .recent-entry-br {
        display: none;
    }
    
}

@media (min-width: 768px) {
    /* home-ABOUT */
    .ABOUT,.GALLERY,.BLOG,.COLUMN {
        margin: 200px 0;
        padding: 0 100px;
    }
    .MENU-main {
        margin-bottom: 250px;
    }
    .content-01-number,.content-02-number,.content-03-number,.content-04-number,.content-05-number,.content-06-number {
        left: 100px;
        font-size: 13px;
    }
    .heading-ABOUT,.heading-GALLERY,.heading-SALON,.heading-CONTACT,.heading-MENU,.heading-BLOG,.heading-COLUMN {
        font-size: 46px;
        letter-spacing: .175em;
    }
    .sub-heading-ABOUT,.heading-stylist {
        font-size: 32px;
        letter-spacing: .05em;
        padding-bottom: 40px;
        line-height: 1;
    }
    .sub-heading-ABOUT {
        width: 216px;
    }
    .sub-heading-ABOUT::after {
        margin: 44px auto 0;
        height: 1.25px;
    }
    .heading-stylist {
        padding-top: 136px;
        width: 95px;
    }
    .heading-stylist::after {
        margin: 40px auto 0;
        height: 1.25px;
    }

    /* 本文共通 */
    .ABOUT-txt,.stylist-profile,.SALON-txt,.CONTACT-txt,.eral-box,.eral-txt,.damage-box {
        max-width: 632px;
        width: 100%;
        margin: auto;
        font-size: 16px;
        line-height: 2.3em;
    }
    .ABOUT-txt {
        max-width: 582px;
        font-size: 19px;
        letter-spacing: 1.2px;
    }
    .stylist-img {
        margin: auto;
        width: clamp(250px, 30vw, 465px);
        height: auto;
        display: block;
    }
    .stylist-name {
        padding-top: 30px;
        font-size: 16px;
    }
    .stylist-profile {
        max-width: 593px;
        padding-top: 60px;
        letter-spacing: 0.5px;
    }
    .stylist-profile::after {
        margin: 50px auto 0;
        height: 1.25px;
    }
    .stylist-career {
        max-width: 594px;
        padding-top: 50px;
        width: fit-content;
        margin: 0 auto;
        letter-spacing: .00115em;
        line-height: 2.25;
        font-size: 16px;
        grid-template-columns: 4em 1fr;
    }
    .stylist-career br {
        display: none;
    }

    /* home-gallery */
    .heading-GALLERY {
        padding-bottom: 4px;
    }
    .heading-GALLERY::after {
        margin: 44px auto;
        height: 1.25px;
    }
    .GALLERY {
        width: 100%;
        margin: 0 auto;
    }
    .GALLERY ul li img {
        object-fit: cover;    /* ★containからcoverに変更（隙間を埋める） */
        margin: 0 auto;
        min-width: 100%;      /* ★300pxから100%に変更 */
        width: 100vw;
        max-height: 900px;    /* 縦の上限は残しておいてOK */
        display: block;
    }
    .GALLERY .slick-dots  {
        bottom: -70px;
    }
    .GALLERY .slick-dots li {
        width: 50px;
        height: 30px;
        margin: 0 8px;
    }
    .GALLERY .slick-dots li button {
        /* background-color: #937218; */
        width: 100%;
        height: 30px;
        padding: 0;
    }
    .GALLERY .slick-dots li button::after {
        content: "";
        display: block;
        height: 1.5px;
        background-color: #dfd5ba;
    }
    .GALLERY .slick-dots li:hover button::after {
        background-color: #937218;
    } 
    .GALLERY .slick-dots li button::before {
        display: none;
    }

    /* home-salon */
    .SALON {
        margin-top: 250px;
        margin-bottom: 150px;
        padding: 0 177px;
    }
    .heading-SALON::after {
        margin: 44px auto;
        height: 1.25px;
    }
    .heading-SALON {
        padding-bottom: 4px;
    }
    .content-03-number {
        left: 23px;
    }
    .SALON-txt {
        padding-bottom: 44px;
    }
    .SALON-txt-Annotation {
        font-size: 13.5px;
    }
    .SALON-exterior {
        width: 620px;
        height: auto;
        display: block;
        margin: auto;;
        padding-bottom: 150px;
    }

    /* menu.html */
    .MENU {
        padding-top: 88px;
        padding-bottom: 250px;
        max-width: 800px;
        margin: auto;
    }
    .content-04-number-pc {
        position: absolute;
        writing-mode: vertical-rl;
        letter-spacing: .15em;
        line-height: 1;
        font-family: "EB Garamond",serif;
        font-size: 13px;
        color: #937218;
        margin-left: 150px;
        margin-top: 88px;
    }
    .content-04-number {
        display: none;
    }
    .heading-MENU::after {
        height: 1.25px;
        margin: 44px auto 0;
    }   
    .menu-annotation {
        padding-top: 20px;
        margin-bottom: 60px;
    }
    .menu-annotation,.menu-annotation-2,.menu-body main section ul li div small {
        font-size: 13.5px;
    }
    .menu-annotation-2 {
        padding-left: 1.6em;
    }
    .menu-annotation-2 span {
        display: none;
    }
    .menu-body main section h3 {
        font-size: 24px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .menu-body main section ul li,.menu-body main section ul li span {
        font-size: 16px;
    }
    .menu-body main section ul li {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
     /* menu_トリートメント（シャンプー・ブロー別）／Eralヘッドキュア（ブロー別）_改行変更 */
    .menu-body .mobile {
        display: none;
    }
    .eral-box {
        max-width: none;
        padding: 30px 34px 30px 30px;
        letter-spacing: .5px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .eral-img {
        width: 800px;
        margin-bottom: 30px;
    }
    .eral-txt,.damage-box {
        max-width: 800px;
    }
    .damage-box {
        margin-top: 80px;
        padding: 50px;
        letter-spacing: -.1px;
    }
    .damage-heading {
        display: none;
    }
    .damage-heading-pc {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
        color: #937218;
        letter-spacing: .5px;
        line-height: 1.7;
    }
    .damage-box img {
        margin-top: 36px;
        width: 100%;
    }
    /* blog.html */
    .blog-header {
        position: relative;
    }
    .batsu_black {
        position: absolute;
        width: 26px;
        height: auto;
        top: 194px;
        left: 54px;
    }
    .BLOG {
        margin: 5px 0 0;
    }
    .blog-p-txt,.column-p-txt {
        width: 100%;
        margin: auto;
        font-size: 16px;
        line-height: 2.3em;
    }    
    .heading-BLOG::after {
        height: 1.25px;
        margin: 44px auto 0;
    }
    .blog-main {
        background-color: #d3d0cc;
        padding:0 100px 100px ;
        padding-top: 60px;
    }
    .blog-wrapper {
        width: 1000px;
        margin: auto;
    }
    .blog-two-column {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 100px;
        align-items: flex-start;
    }
    .blog-article {
        width: 720px;
    }
    .blog-article div {
        padding-bottom: 44px;
    }
    .blog-p-date,.column-p-date {
        padding-top: 0;
        font-size: 15px;
    }
    .blog-article h3 {
        font-size: 26px;
    }
    .blog_recent_entry {
        width: 296px;
        margin-top: 0;
    }
    .recent_entry-heading {
        font-size: 28px;
        padding-left: 0;
    }
    .recent_entry-article-title {
        font-size: 20px;
        letter-spacing: 0.5px;
    }
    .blog_number-next {
        font-size: 16px;
        display: flex;
        justify-content: flex-end;
        gap: 25px;
    }
    .blog_number-next a {
        padding: 20px 5px;
    }
    .blog_number-next a span {
        padding: 20px 0px;
    }
    /* column.html */
    .column-header {
        position: relative;
    }
    .batsu_black {
        position: absolute;
        width: 26px;
        height: auto;
        top: 194px;
        left: 54px;
    }
    .COLUMN {
        margin: 5px 0 0;
    }
    .heading-COLUMN::after {
        height: 1.25px;
        margin: 44px auto 0;
    }
    .column-main {
        background-color: #e0e9f3;
        padding:0 100px 100px ;
        padding-top: 60px;
    }
    .column-wrapper {
        width: 1000px;
        margin: auto;
    }
    .column-two-column {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 100px;
        align-items: flex-start;
    }
    .column-article {
        width: 720px;
    }
    .boy-styling-1,.boy-styling-2 {
        width: 100%;
    }
    .column_archives {
        width: 296px;
        margin-top: 0;
    }
    .column-article h3 {
        font-size: 26px;
    }
    .archives-heading {
        font-size: 24px;
    }
    .archives-article-title {
        font-size: 18px;
}
    .archives-article-title time {
        font-size: 12px;
    }
    .archives-article-title li a {
        display: block;
        padding: 10px 10px 14px;
    }

    /* CONTACT_共通 */
    .line-mail-group,.calendar-group {
        display: none;
    }
    .heading-CONTACT::after {
        margin: 44px auto;
        height: 1.25px;
    }
    .heading-CONTACT {
        padding-bottom: 4px;
    }
    .CONTACT-txt-2-3-sidebyside br {
        display: none;
    }
    .CONTACT-txt-1-3-sidebyside,.CONTACT-txt-2-3-sidebyside,.CONTACT-txt-3,.CONTACT-txt-4 {
        letter-spacing: .5px;
    }
    .lineicon-txt, .mailicon-txt, .calendaricon-txt {
        padding-top: 32px;
    }
    .linetxt,.mailtxt,.calendartxt-br {
        font-size: 13px;
        letter-spacing: -.1px;
        line-height: 2;
    }
    .CONTACT-txt-2, .CONTACT-txt-3 {
        padding-top: 32px;
    }
    .facebookicon,.Instagramicon {
        height: auto;
        width: 40px;
    }
    .facebook-insta-sidebyside {
        display: flex;
        justify-content: center;
        gap: 140px;
        padding-top: 48px;
    }
    /* footer_共通 */
    .common-footer {
        padding-top: 60px;
    }
    .common-blog-column-footer {
        padding-top: 100px;
    }
    .credit_address {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 56px;
        padding-right: 210px;
        margin-top: -136px;
    }
    .icon_tothetop {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: 74px;
        margin-bottom: 30px;
    }
    .credit {
        font-size: 10px;
        writing-mode: vertical-rl;
        padding-left: 200px;
        font-family: EB Garamond,serif;
        font-weight: 400;
        letter-spacing: 0.05em;
    }
    .footer-icon {
    width: 96px;
    }
    .to_the_top {
        margin-right: 200px;
    }
    .icon_tothetop {
        padding-left: 238px;
    }
}
@media (min-width: 1025px) {

    /* home.html,menu.html_共通 */
    
    /* header */
    .ham-botann {
        display: none;
    }
    .home-header-logo-house img {
        width: 44px;
    }
    .home-header {
        padding: 0 20px;
        font-size: 15px;
        min-height: 75px;
    }
    .header-menu {
        display: none;
    }
    .pc-header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .pc-header-menu-left ul,.pc-header-menu-right ul {
        gap: 20px;
    }
    .pc-header-menu-right ul {
        padding-right: 20px;
    }
    .header-menu a {
        letter-spacing: 1.5px;
    }
    
    /* house-bg-title */
    .fv-house-bg img {
        padding-top: 63px;
    }

    /* home.html */
    
    /* home-image */
    .home-image {
        margin-left: 100px;
        margin-right: 100px;
    }
    .home-image img {
        width: 100%;
        height: auto;
        display: block;
        padding-top: 15px;
    }
    .line-break-tablet-1,.line-break-tablet-2 {
        display: none;
    }

    /* pc用_クリック/タップ後のヘッダー位置 */
    #about,#gallery,#salon,#contact {
    scroll-margin-top: 147px;
    }

    .GALLERY ul li img {
        width: 60%;
        object-fit: contain;
        margin: 0 auto;
        min-width: 300px;
        width: 100%;
        max-height: 900px;
        display: block;
    }
    .GALLERY .slick-slide {
        padding: 0 20px;
    }
    .GALLERY .slick-dots  { 
        bottom: -70px; 
    }
    .GALLERY .slick-dots li { 
        width: 50px; height: 30px; margin: 0 8px; 
    }
    .GALLERY .slick-dots li button { 
        width: 100%; height: 30px; padding: 0; 
    }
    .GALLERY .slick-dots li button::after { 
        content: ""; display: block; height: 1.5px; background-color: #dfd5ba; 
    }
    .GALLERY .slick-dots li:hover button::after {
        background-color: #937218; 
    } 
    .GALLERY .slick-dots li button::before { 
        display: none; }

    /* 【PC用の調整】前のステップで案内した、センターモードを綺麗に見せるための余白を追加 */
    .GALLERY ul li {
        margin: 0 100px; /* 写真と写真の間の隙間（PC用） */
    }
    .GALLERY .slick-dots {
        bottom: -40px;
    }
    .salon-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }
    .SALON-txt {
        width: 360px;
        margin: 0;
    }
    .SALON-txt::before {
        content: "";
        display: block;
        margin-top: -0.7em;
    }
    .SALON-txt-address {
        text-align: left;
    }
    .salon-img {
        width: 525px;
    }

    /* CONTACT-icon */
    .line-mail-calendar-icon-3-sidebyside div a:hover,.facebook-insta-sidebyside a:hover,.to_the_top:hover {
    opacity: 0.5;
    }

    /* menu.html */
    .content-04-number-pc {
        margin-top: 48px;
        margin-left: 200px;
    }
    .MENU {
        padding-top: 48px;
        padding-bottom: 150px;
    }
    .MENU-main {
        margin-bottom: 150px;
    }
    /* blog.html */
    .recent_entry-article-title a:hover {
        text-decoration: underline currentColor 1px;
        opacity: 0.5;
    }
    .blog_number-next a:hover {
    opacity: 0.5;
    }
    /* column.html */
    .archives-article-title li a:hover,.before-column a:hover {
        opacity: 0.5;
    }
    .ham-close_blog_column a {
        padding: 20px 0;
    }
    .ham-close_blog_column .batsu_black:hover {
    opacity: 0.2;
    }
}

/*1024px以下（1024pxぴったりも含む）の時に適用し、1025px以上では消す */
@media (min-width: 1024px) and (max-width: 1024px) {
    .SALON-map-link {
        margin-left: 2em;
    }
    .SALON-txt .address-after-br {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {

    /* tablet用_クリック/タップ後のヘッダー位置 */
    #about,#gallery,#salon,#contact {
        scroll-margin-top: 170px;
    }
    /* ham-menu.html */
    .ham-background {
        padding: 34px 42px; /* 全体の内側の余白を一括設定 */
    }
    .ham-menu {
        font-size: 36px;
        margin: 70px 0 0 0;
        padding-left: 40px;
        line-height: 2.5;
    }
    .ham-menu a {
        padding: 20px 0;
    }
    .batsu_white {
        width: 26px;
        height: auto;
    }
    .batsu_white a {
        padding: 20px 0;
    }
    .ham-credit {
        padding-top: 90px;
        padding-left: 40px;
    }
    
    /* header_mobile_tablet_共通 */
    .pc-header-menu {
        display: none;
    }
    .ham-botann img {
        width: 28px;
        height: auto;
    }
    .home-header-logo-house img {
        width: 44px;
    }
    .home-header {
        padding: 0 35px;
        font-size: 15px;
    }
    .header-menu {
        position: relative;
        top: -6px;
        margin: 0 clamp(90px, 3.5vw, 150px);
        max-width: 525px;
    }
    .header-menu ul {
        gap: 70px;
    }
    .header-menu a {
        letter-spacing: 1.5px;
    }
    
    /* house-bg-title */
    .fv-house-bg img {
        padding-top: 86px;
    }
    
    /* home-image */
    .home-image img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    /* home-ABOUT */
    .ABOUT,.GALLERY {
        margin: 140px 0;
    }
    .ABOUT-txt,.stylist-profile,.stylist-career {
        max-width: 495px;
    }
    .content-01-number,.content-02-number,.content-03-number,.content-04-number,.content-05-number,.content-06-number {
        left: -40px;
    }
    .heading-ABOUT,.heading-GALLERY,.heading-SALON,.heading-CONTACT,.heading-MENU,.heading-BLOG,.heading-COLUMN {
        font-size: 40px;
        letter-spacing: .12em;
    }
    .sub-heading-ABOUT,.heading-stylist {
        font-size: 30px;
    }
    .heading-stylist {
        padding-top: 110px;
    }
    .stylist-img {
        width: clamp(340px, 30vw, 465px);
    }
    
    /* home-gallery */
    /* .GALLERY-img {
    width: 100vw;
    height: auto;
    display: block;
    } */
    
    /* home-salon */
    .SALON {
        padding: 0 196px;
        margin-top: 200px;
        margin-bottom: 100px;
    }
    .content-03-number {
        left: -137px;
    }
    .SALON-exterior {
        padding-bottom: 100px;
    }
    
    /* menu.html */
    .MENU {
        padding-top: 30px;
        padding-bottom: 100px;
        max-width: 650px;
        margin: auto;
    }
    .MENU-main {
        margin-bottom: 100px;
    }
    .damage-box {
        padding: 46px;
    }
    .damage-heading-pc {
        margin-bottom: 24px;
    }
    .content-04-number-pc {
        margin-left: 60px;
        margin-top: 30px;
    }
    .content-04-number {
        display: none;
    }
    
    /* contact */
    .CONTACT {
        padding: 0 100px;
    }
    .CONTACT-txt {
        min-width: 460px;
    }
    .CONTACT-txt-1-3-sidebyside,.CONTACT-txt-2-3-sidebyside,.CONTACT-txt-3,.CONTACT-txt-4 {
        letter-spacing: 0px;
    }
    
    /* blog.html */
    .batsu_black {
        top: 134px;
        left: 40px;
    }
    .BLOG,.COLUMN {
        margin-top: 20px;
    }
    .blog-main,.column-main {
        padding-left: 75px;
        padding-right: 75px;
        padding-bottom: 80px;
    }
    .blog-wrapper,.column-wrapper {
        width: 618px;
    }
    .blog-two-column,.column-two-column {
        gap: 40px;
    }
    .blog-article {
        width: 383px;
    }
    .blog-article .blog_number-next {
        padding-top: 0;
    }
    .blog_recent_entry {
        width: 195px;
    }
    .recent_entry-heading {
        font-size: 24px;
    }
    .recent_entry-article-title {
        font-size: 16px;
    }
    /* column.html */
    .column-main {
        padding-bottom: 40px;
    }
    .column-article {
        width: 423px;
    }
    .column_archives {
        width: 155px;
    }
    /* footer_共通 */
    .common-blog-column-footer {
        padding-top: 80px;
    }
    .credit_address {
        padding-right: 76px;
    }
    .credit {
        padding-left: 60px;
    }
    .to_the_top {
        margin-right: 70px;
    }
    .icon_tothetop {
        padding-left: 102px;
    }
}
